<link rel="stylesheet" type="text/css" href="../css/graph.css"></link>
<div class="container" ng-show="spec.name">
	<div>
		<h3>
			<strong>Activity Graph</strong> {{spec.name}}
		</h3>

		<div class="container">
			<form class="form-inline" name="activityForm" novalidate="novalidate">
				<!-- operation select -->
				<select class="btn btn-primary form-control"
					ng-options="operation.name for operation in operations.availableOperations track by operation.id"
					ng-model="operations.selectedOperation" ng-change='cleanAll()'>
				</select>
				<!-- first activity select -->
				<select name="activitySourceOne"
					class="btn btn-primary form-control"
					ng-show="operations.selectedOperation.id!=0"
					ng-options="activity.name for activity in activitiesOne.availableActivities | orderBy:'name'"
					ng-model="activitiesOne.selectedActivity"
					ng-change="updateSelects(spec.specId,activitiesOne.selectedActivity.name)">
				</select>
				<!-- second activity select -->
				<select name="activitySourceTwo"
					class="btn btn-primary form-control"
					ng-show="activitiesTwoSelect()"
					ng-options="activity.name for activity in activitiesTwo.availableActivities | orderBy:'name'"
					ng-model="activitiesTwo.selectedActivity">
				</select>
				<!-- post conditions of first activity select -->
				<select name="activityPostConditions" class="btn form-control"
					ng-show="activitiesPostConditionsSelect()"
					ng-options="post.path for post in activityPostConditions.availablePostConditions | orderBy:'path'"
					ng-model="activityPostConditions.selectedPostConditions" multiple>
				</select>
				<!-- new activity name -->
				<input name="newActivity" ng-show="activityNameInput()" type="text"
					class="form-control" placeholder="New activity name"
					ng-model="newActivityName" required></input>
				<!-- add sequence condition -->
				<input name="sequenceConditionToAdd"
					ng-show="sequenceConditionInput()" type="text" class="form-control"
					placeholder="Sequence condition" ng-model="sequenceConditionToAdd"
					required></input>
				<!-- remove sequence condition -->
				<select name="sequenceConditionToRemove"
					class="btn btn-primary form-control"
					ng-show="removeSequenceConditionSelect()"
					ng-options="seq.path for seq in activitySeqConditions.availableSeqConditions | orderBy:'path'"
					ng-model="activitySeqConditions.selectedSeqCondition">
				</select>
				<!-- submit form  -->
				<input ng-show="operations.selectedOperation.id!=0" type="submit"
					class="btn btn-primary" ng-click="submitForm()"
					ng-disabled="activityForm.activitySource.$invalid || (activityNameInput() && activityForm.newActivity.$invalid) || (sequenceConditionInput() && activityForm.sequenceConditionToAdd.$invalid) || !validForm()">
				</input>
			</form>
		</div>

		<div ng-if="error">
			<div error-message error-data="{{error}}"></div>
		</div>

		<br /> <br />

		<div ng-if="activityGraph">
			<div activity-graph activity-data="activityGraph"></div>
		</div>
	</div>
</div>
