<div class="container">
	<div class="text-left">
		<samp>
			<strong>Activity Model Specification</strong> {{spec.name}} <br /> <br />
			<div ng-repeat="a in activities | orderBy:'name'">
				<strong>Activity</strong><span> {{a.name}} :
					{{a.description}}</span> <br /> { <br />
				<div
					ng-init="preConditions(a.name); seqConditions(a.name); postConditions(a.name); mulConditions(a.name); ruleConditions(a.name)">
					<span style="padding-left: 2em"> PRE(<span
						ng-repeat="pre in preconditions.get(a.name)">{{pre.path}}<span
							ng-if="!$last">, </span></span>) <br /> <span style="padding-left: 2em">
							SEQ(<span ng-repeat="pre in seqconditions.get(a.name)">{{pre.path}}<span
								ng-if="!$last">, </span></span>) <br /> <span
							style="padding-left: 2em"> POST(<span
								ng-repeat="post in postconditions.get(a.name).defEnts">DEF({{post.entityName}})<span
									ng-if="!$last || postconditions.get(a.name).defAtts.length!=0">,
								</span></span><span ng-repeat="post in postconditions.get(a.name).defAtts">DEF({{post.path}})<span
									ng-if="!$last">,
								</span></span><span
									ng-if="mulconditions.get(a.name).length!=0">;
								</span><span ng-repeat="mul in mulconditions.get(a.name)">MUL({{mul.rolePath}}, {{mul.cardinality}})<span
									ng-if="!$last">, </span></span><span
									ng-if="ruleconditions.get(a.name).length!=0">;
								</span><span ng-repeat="rule in ruleconditions.get(a.name)">RULE({{rule.name}}: {{rule.toStringExpression}})<span
									ng-if="!$last">, </span></span>) <br />
				</div>
				}<br /> <br />
			</div>


		</samp>
	</div>
</div>

