<div ng-controller="conditionModelController">
	<div class="text-left">
		<samp>
			<strong>Condition Model Specification</strong> {{spec.name}} <br /> <br /> <strong>Entity
				Achieve Conditions</strong>

			<div
				ng-repeat="eac in entityachieveconditions | orderBy : 'entityName'">
				<span style="padding-left: 2em" /><span ng-if="eac.exists"><strong>EXISTS</strong>(<strong>DEF</strong>({{eac.entityName}}))</span>
				<span ng-if="!eac.exists"><strong>DEF</strong>({{eac.entityName}})</span>
			</div>

			<br /> <strong>Entity Dependence Conditions</strong>

			<div ng-repeat="edc in entitydependenceconditions | orderBy : 'path'">
				<span style="padding-left: 2em" /><strong>DEP</strong>(<strong>DEF</strong>({{edc.product}}),
				<strong>DEF</strong>({{edc.path}}))
			</div>

			<br />  <strong>Entity Invariant Conditions</strong>
			<div ng-repeat="eic in entityinvariantconditions | orderBy : 'rolePath'">
				<span style="padding-left: 2em" /><strong>MUL</strong>({{eic.rolePath}}, {{eic.cardinality}})
			</div>

			<br /> <strong>Attribute
				Achieve Conditions</strong>

			<div ng-repeat="aac in attributeachieveconditions | orderBy : 'path'">
				<span style="padding-left: 2em" /><span ng-if="aac.mandatory"><strong>MAN</strong>(<strong>DEF</strong>({{aac.path}}))</span>
				<span ng-if="!aac.mandatory"><strong>DEF</strong>({{aac.path}})</span>
			</div>

			<br /> <strong>Attribute Dependence Conditions</strong>

			<div
				ng-repeat="adc in attributedependenceconditions | orderBy : 'path'">
				<span style="padding-left: 2em" /><strong>DEP</strong>(<strong>DEF</strong>({{adc.product}}),
				<strong>DEF</strong>({{adc.path}}))
			</div>

			<br /> <strong>Attribute Invariant Conditions</strong>
			
			<div
				ng-repeat="aic in attributeinvariantconditions | orderBy : 'name'">
				<span style="padding-left: 2em" /><strong>RULE</strong>
						{{aic.name}} : {{aic.toStringExpression}}
			</div>
		</samp>
	</div>
</div>