<link rel="stylesheet" type="text/css" href="../css/graph.css"></link>
<div class="container" ng-show="spec.name">
	<div>
		<h3>
			<strong>Goal Graph</strong> {{spec.name}}
		</h3>

		<div class="container">
			<form class="form-inline" name="goalForm" novalidate="novalidate">
				<!-- operation select -->
				<select class="btn btn-primary form-control"
					ng-options="operation.name for operation in operations.availableOperations track by operation.id"
					ng-model="operations.selectedOperation" ng-change='cleanAll()'>
				</select>
				<!-- first goal select -->
				<select name="goalSourceOne"
					class="btn btn-primary form-control"
					ng-show="operations.selectedOperation.id!=0"
					ng-options="goal.name for goal in goalsOne.availableGoals | orderBy:'name'"
					ng-model="goalsOne.selectedGoal"
					ng-change="updateSelects(spec.specId, goalsOne.selectedGoal.name)">
				</select>
				<!-- second goal select -->
				<select name="goalSourceTwo"
					class="btn btn-primary form-control"
					ng-show="goalsTwoSelect()"
					ng-options="goal.name for goal in goalsTwo.availableGoals | orderBy:'name'"
					ng-model="goalsTwo.selectedGoal">
				</select>
				<!-- new goal name -->
				<input name="newGoal" ng-show="goalNameInput()" type="text"
					class="form-control" placeholder="New goal name"
					ng-model="newGoalName" required></input>
				<!-- submit form  -->
				<input ng-show="operations.selectedOperation.id!=0" type="submit"
					class="btn btn-primary" ng-click="submitForm()"
					ng-disabled="(goalNameInput() && goalForm.newGoal.$invalid) || !validForm()">
				</input>
			</form>
		</div>

		<div ng-if="error">
			<div error-message error-data="{{error}}"></div>
		</div>

		<br /> <br />

		<div ng-if="goalGraph">
			<div goal-graph goal-data="goalGraph"></div>
		</div>
	</div>
</div>
