<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.blended.org/Blended" 
       class = "org.blended.blended.BlendedPackage"
       genModel = "model/generated/Blended.genmodel" /> 
	
  </extension>



</plugin>
