.classpath
.project
.settings
tmp-data
repo
engine/.classpath
engine/.project
engine/.settings
engine/target
engine/tmp-data
engine/test-db
designer/.classpath
designer/.project
designer/.settings
target/
bin/
src-gen/
xtend-gen/
