<!doctype html>
<html data-ng-app="">
<head>
<link rel="stylesheet" href="css/bootstrap-3.3.6.min.css"></link>
<script src="js/d3.v2.js" charset="utf-8"></script>
<script src="js/dagre-d3.min.js"></script>
<script src="js/angular-1.5.0.min.js"></script>
<script src="js/angular-route-1.5.0.min.js"></script>
<script src="js/angular-animate-1.5.3.js"></script>
<script src="js/ui-bootstrap-tpls-1.2.1.min.js"></script>
</head>
<body ng-app="specManager" ng-controller="SpecificationController">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/" ng-click="cleanAll()">Blended Workflow</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown" uib-dropdown="uib-dropdown"><a href="#"
							id="simple-dropdown" uib-dropdown-toggle="uib-dropdown-toggle">
								Specification <span class="caret"></span>
						</a>
							<ul uib-dropdown-menu="uib-dropdown-menuuib-dropdown-menu"
								aria-labelledby="simple-dropdown">
								<li><a href="#" ng-click="cleanAll()">Manage
										Specifications</a></li>
								<li role="separator" class="divider"></li>
								<li ng-repeat="s in specs" ng-click="cleanInstanceAll();selectSpecification(s)"><a
									href="#">{{s.name}}</a></li>
							</ul></li>
						<li><a href="#"> <strong>{{spec.name}}</strong>
						</a></li>
					</ul>

					<ul class="nav navbar-nav" ng-show="spec.name">
						<li class="dropdown" uib-dropdown="uib-dropdown"><a href="#"
							id="simple-dropdown" uib-dropdown-toggle="uib-dropdown-toggle">
								Instance <span class="caret"></span>
						</a>
							<ul uib-dropdown-menu="uib-dropdown-menuuib-dropdown-menu"
								aria-labelledby="simple-dropdown">
								<li><a href="#/specs/{{spec.specId}}/instancesmanager" ng-click="cleanInstanceAll()">Manage
										Instances</a></li>
								<li role="separator" class="divider"></li>
								<li ng-repeat="i in instances" ng-click="selectInstance(i)"><a
									href="#">{{i.name}}</a></li>
							</ul></li>
						<li><a href="#"> <strong>{{instance.name}}</strong>
						</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown" uib-dropdown="uib-dropdown"
							ng-show="spec.name"><a href="#" class="dropdown-toggle"
							uib-dropdown-toggle="uib-dropdown-toggle">Designer <span
								class="caret"></span>
						</a>
							<ul class="dropdown-menu" uib-dropdown-menu="uib-dropdown-menu">
								<li><a href="#/specs/{{spec.specId}}/datamodel">Data
										Model</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#/specs/{{spec.specId}}/conditionmodel">Condition
										Model</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#/specs/{{spec.specId}}/goalmodel">Goal
										Model</a></li>
								<li><a href="#/specs/{{spec.specId}}/goalgraph">Goal
										Graph and Operations</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#/specs/{{spec.specId}}/activitymodel">Activity
										Model</a></li>
								<li><a href="#/specs/{{spec.specId}}/activitygraph">Activity
										Graph and Operations</a></li>
							</ul></li>

						<li class="dropdown" uib-dropdown="uib-dropdown"
							ng-show="instance.name"><a href="#" class="dropdown-toggle"
							uib-dropdown-toggle="uib-dropdown-toggle">Executor <span
								class="caret"></span>
						</a>
							<ul class="dropdown-menu" uib-dropdown-menu="uib-dropdown-menu">
								<li><a href="#">Data View</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Activity View</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Goal View</a></li>
							</ul></li>

					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<ng-view> </ng-view>

	</div>

	<script src="app/specManager.js"></script>

	<script src="app/controllers/specificationController.js"></script>
	<script src="app/controllers/dataModelController.js"></script>
	<script src="app/controllers/conditionModelController.js"></script>
	<script src="app/controllers/goalModelController.js"></script>
	<script src="app/controllers/goalGraphController.js"></script>
	<script src="app/controllers/activityModelController.js"></script>
	<script src="app/controllers/activityGraphController.js"></script>

	<script src="app/directives/errorMessage.js"></script>
	<script src="app/directives/goalGraph.js"></script>
	<script src="app/directives/activityGraph.js"></script>

	<script src="app/services/specRepository.js"></script>
	<script src="app/services/dataRepository.js"></script>
	<script src="app/services/conditionRepository.js"></script>
	<script src="app/services/goalRepository.js"></script>
	<script src="app/services/activityRepository.js"></script>
	<script src="app/services/instanceRepository.js"></script>

</body>
</html>