<div class="container" ng-show="spec.name">
	<div class="text-left">
			<strong>Workflow Instances of</strong> {{spec.name}} <br /> <br />
			<form class="form-inline" name="instanceForm">
				<input name="newInstance" type="text" class="form-control"
					placeholder="New instance name" ng-model="newInstanceName" required></input>
				<!-- submit form  -->
				<input type="submit" class="btn btn-primary"
					ng-click="submitInstanceForm(spec.specId, newInstanceName)"
					ng-disabled="(instanceForm.newInstance.$invalid)"> </input>
			</form>
			<br />
			<div ng-repeat="i in instances | orderBy:'name'">
				<strong>Instance</strong><span> {{i.name}}</span>
				<button type="button" class="btn btn-primary btn-xs"
					ng-click="deleteInstance(spec.specId, i.name)">Delete</button>
				<br /> <br />
			</div>

		<div ng-if="specError">
			<div error-message error-data="{{specError}}"></div>
		</div>

	</div>
</div>
