<br />
<hr>
<form class="form-inline" name="activityForm" novalidate="novalidate">
	<strong>Work Item</strong> <span> {{$ctrl.name}}</span>
	<button class="btn btn-default"
		ng-click="$ctrl.show=!$ctrl.show; $ctrl.initializeDefinitionGroupInstance()">
		<span ng-if="!$ctrl.show">Open</span><span ng-if="$ctrl.show">Close</span>
	</button>
	<div ng-show="$ctrl.show">
		<div ng-repeat="definitionGroup in $ctrl.workItem.definitionGroupSet">
			<table class="table table-bordered table-striped">
				<caption>
					<strong>Define Product</strong> : <span
						ng-repeat="entity in definitionGroup.defProductConditionSet.defEnts">
						{{entity.path}}</span> ( <span
						ng-repeat="attribute in definitionGroup.defProductConditionSet.defAtts">{{attribute.path}}<span
						ng-if="!$last">, </span></span> )
					<button
						ng-if="$ctrl.canCreateDefinitionGroupInstance(definitionGroup)"
						class="btn btn-default"
						ng-click="$ctrl.createDefinitionGroupInstance(definitionGroup)">Create</button>
				</caption>
				<thead>
					<tr>
						<th>Context</th>
						<th>Instances</th>
						<th>Inner Relations</th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="definitionGroupInstance in definitionGroup.definitionGroupInstanceSet">
						<td>
							<div
								ng-repeat="entityContext in definitionGroup.entityContextSet">
								MUL({{entityContext.mulCondition.rolePath}},{{entityContext.mulCondition.cardinality}})
								PATHS(<span
									ng-repeat="pathCondition in entityContext.defPathConditionSet">{{pathCondition.path}}<span
									ng-if="!$last">, </span></span>)<select class="btn btn-default"
									ng-options="entityInstanceContext.pathValues for entityInstanceContext in entityContext.entityInstanceContextSet"
									ng-model="definitionGroupInstance.entityInstanceContextSet"
									multiple>
								</select>
							</div>
						</td>
						<td>
							<div
								ng-repeat="productInstance in definitionGroupInstance.productInstanceSet"
								ng-switch="productInstance.product.productType">
								<div ng-switch-when="ENTITY">
									{{productInstance.path}}({{productInstance.externalId}})
									<button class="btn btn-default"
										ng-click="$ctrl.deleteDefinitionGroupInstance(definitionGroup,productInstance.externalId)">Delete</button>
								</div>
								<div ng-switch-when="ATTRIBUTE">
									<span style="padding-left: 2em"></span>{{productInstance.path}}
									<input class="form-control" type="text" ng-model="value"
										ng-blur="productInstance.value = value"></input>
								</div>
							</div>
						</td>
						<td>
							<div
								ng-repeat="innerRelationInstance in definitionGroupInstance.innerRelationInstanceSet">
								{{innerRelationInstance.mulConditionDTO.rolePath}}
								{{innerRelationInstance.mulConditionDTO.targetCardinality}} <select
									class="btn btn-default"
									ng-options="productInstance.id for productInstance in $ctrl.getInnerRelationProductInstances(definitionGroup,innerRelationInstance.mulConditionDTO.externalId)"
									ng-model="innerRelationInstance.productInstanceSet" multiple>
								</select>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<button class="btn btn-default pull-right"
				ng-click="$ctrl.submitWorkItem()">Submit</button>
		</div>
	</div>
</form>

